<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文档导出系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/CSS/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <form class="form-signin" th:action="@{/Login}">
        <h2 class="form-signin-heading">登录</h2>
        <label class="sr-only">用户名</label>
        <input type="text" class="form-control" name="UserName">
        <label class="sr-only">密码</label>
        <input type="password" class="form-control" name="Password">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
</div> <!-- /container -->
</body>
</html>